.lux-hero {
  height: 100vh;

  background-image:
    linear-gradient(
      90deg,
      rgba(4,10,22,0.92) 0%,
      rgba(4,10,22,0.72) 35%,
      rgba(4,10,22,0.15) 60%
    ),
    url('/hero-bathroom.png');

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding-left: 90px;
}

.lux-left {
  max-width: 650px;
  color: white;
}

.lux-subtitle {
  letter-spacing: 5px;
  font-size: 0.9rem;
  color: #8ea9d7;
}

.lux-left h1 {
  font-size: 6.5rem;
  line-height: 0.95;
  font-weight: 400;
  margin: 30px 0;

  font-family: "Cormorant Garamond", serif;
}

.lux-line {
  width: 90px;
  height: 1px;
  background: rgba(255,255,255,0.4);
  margin-bottom: 30px;
}

.lux-left p {
  font-size: 1.3rem;
  line-height: 1.7;
  color: rgba(255,255,255,0.82);
  margin-bottom: 40px;
}

.lux-buttons {
  display: flex;
  gap: 22px;
}

.lux-primary,
.lux-secondary {
  text-decoration: none;
  padding: 18px 34px;
  border-radius: 999px;
  transition: 0.3s ease;
}

.lux-primary {
  background: #18345d;
  color: white;
}

.lux-secondary {
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
}
